:root{
    --accent-color:#675be8;
    --white-color:#ffffff;
    --mild-bg:#ededed;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    background: #ffffff;
    color:#343a40 !important;
}
.bg-accent {
    background-color: var(--accent-color) !important;
}
.bg-mild{
    background-color: var(--mild-bg) !important;
}
.bg-profile-menu{
    background:#fff !important;
}
.h3.balance{
    color: #675be8 !important;
}
.nav-item a.nav-link {
    color: var(--accent-color) !important;
    transition: 0.3s ease-in-out;
}
.nav-item a.nav-link:hover{
    border-bottom:1px solid var(--accent-color);
}
.footer-text{
    text-align: center;
    font-weight:600;
    opacity:0.8;
    padding-top:1rem;
    border-top:1px solid #9fa2a5;
}
.nav-bar{
    position:fixed;
    background-color: #fff;
    box-shadow: 1px 3px 9px #d4d4d4;
}

#navbar2{
    box-shadow: 1px 3px 9px #d4d4d4;
}

.nav-item a.nav-link {
    color: #343a40;
}
.text-accent{
    color:var(--accent-color) !important;
}

i.fas.fa-user-circle.h3 {
    color: #343a40;
}
li.nav-item {
    margin: 0 0.5rem;
    font-weight: 700;
    position:relative;
}
li.nav-item._box::before{
    content:"";
    position:absolute;
    height:10%;
    width:0%;
    border-radius:5px;
    background: #ffc107;
    bottom:0;
    left:0;
    transition:0.3s ease-in-out;
}
li.nav-item._box:hover::before{
    width:50%;
}
a.nav-link.nav-btn{
    border: 1px solid #9fa2a5;
    border-radius:5px;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    position: relative;
    transition:0.3s ease-in-out;
    z-index:9;
}
a.nav-link.nav-btn span{
    z-index:5;
}

a.nav-link.nav-btn:hover span{
    color:#333 !important;
}
a.nav-link.nav-btn::before{
    content:"";
    position:absolute;
    height:100%;
    width:0%;
    background:#eee;
    top:0;
    left:0;
    z-index:-1;
    transition:0.3s ease-in-out;
}
a.nav-link.nav-btn:hover::before{
    width:100%
}
.hero-section{
    animation:1s hero ease-in;
}
a.mt-3.text-light.bg-success.px-4.fw-bold.py-2.text-decoration-none.rounded {
    transition:0.3s ease-in-out;
}
a.mt-3.text-light.bg-success.px-4.fw-bold.py-2.text-decoration-none.rounded:hover {
    box-shadow: 0px 1px 5px 3px #ffc107;
}
    @keyframes hero {
        from{
            transform:translateY(20%);
            opacity:0;
        }
        to{
            transform:translateY(0%);
            opacity: 1;
        }
    }
.d-flex.flex-column.w-100.p-5 {
    align-items: center;
}
h1.text-warning.hero {
    font-size: 4.5rem;
    text-transform: capitalize;
}

.navbar-toggler{
    position: relative;
}
.navbar-toggler:focus {
    outline: 0;
    box-shadow: 0px 0px 0 0 !important;
}
button.navbar-toggler {
    border: none;
    outline:none !important;
    padding:0.5rem 1rem;
}
.navbar-toggler-ico{
    height: 2px;
    width: 100%;
    border-radius: 10px;
    left: 0;
    background: #fff;
    content: " ";
    position: absolute;
    transition: 0.3s transform cubic-bezier(0.68, -0.55, 0.265, 1.55) , 0.3s ease-in-out display;
}
span.navbar-toggler-ico.one {
    top: 0;
}
span.navbar-toggler-ico.three {
    bottom: -10%;
}

.navbar-toggler:not(.collapsed)[aria-expanded="true"] span.navbar-toggler-ico.one {
    transform: translateY(8px) rotate(135deg);
}
.navbar-toggler:not(.collapsed)[aria-expanded="true"] span.navbar-toggler-ico.two {
    transform: rotate(45deg);
}
.navbar-toggler:not(.collapsed)[aria-expanded="true"] span.navbar-toggler-ico.three {
    display:none;
}

.d-none{
    display:none;
}
.icon-fa{
    color:var(--accent-color);
}
img.login-img.w-50\.d-none\.d-lg-block {
    height: 25rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.d-flex {
    /* justify-content: center; */
    flex-direction: row;
}
.d-flex.login{
    align-items: center;
}
.d-flex.align-items-center._profile {
    flex-direction: column;
}
.d-flex.flex-column.px-3 {
    align-items: center;
}
.acc-con{
    margin: 1rem 0;
}
a.acc-box-item.bg-profile-menu.text-accent.text-decoration-none.py-1.px-3.lead.d-flex.align-items-center.justify-content-between i {
    font-size: 3rem;
}
a.bg-profile-menu.text-accent.text-decoration-none.py-1.px-3.lead.d-flex.align-items-center.justify-content-between {
    margin: 1rem auto;
    height: 12rem;
    width: 80%;
    border-radius: 2rem;
    padding: 2rem !important;
    align-items: center !important;
    justify-content: space-between !important;
    flex-direction: column;
}
@media (max-width:960px) {
    a.nav-link {
        text-align: center;
    }

    li.nav-item._button {
        margin-top: 1rem;
    }
    img.login-img.w-50\.d-none\.d-lg-block {
        display: none;
    }
}

/* dark mode  */
.dntoggle{
    font-size: 20px;
    border-radius: 100px;
    background-color: #111111;
    padding: 10px;
    color:#fcfcfc;
    box-shadow: 1px 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    
    position: fixed;
    bottom:25px;
    left: 20px;
    z-index: 99;
    border: 1px solid white;
  /* 
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; */
  }

  .fas.fa-moon:before{
    padding:0 2px;
  }
  .fas.fa-sun{
    background-color: #212121;
    color:#ccc;
  }

  
.night{
    background: #151515;
}