{% extends 'base.html' %} {% block content %}

<div
  class="mt-5 card bg-dark p-5 col-15 col-xs-10 col-sm-10 col-md-9"
  style="margin: auto"
>
  <div class="d-flex align-items-center">
    <div class="d-flex flex-column">
      <img
        src="{{ url_for('static', filename='images/user.png') }}"
        class=""
        style="width: 7rem"
        alt=""
      />
    </div>
    <div class="d-flex flex-column px-3">
      <span class="text-light h4"
        >{{ current_user.last_name.title() + ' ' +
        current_user.first_name.title() }}</span
      >
      <p>
        <small class="text-muted">Account Number</small><br />
        <span class="text-light h5">{{ current_user.account_number }}</span>
      </p>
    </div>
  </div>
  <div class="grid-container">
    <div class="acc-box">
      <a
        href=""
        class="acc-box-item bg-secondary text-light text-decoration-none py-1 px-3 lead d-flex align-items-center justify-content-between"
      >
        <i class="fas fa-user-check text-warning"></i>
        <p>&nbsp;&nbsp;Profile</p>
      </a>
    </div>

    <div class="acc-box">
      <a
        href=""
        class="acc-box-item bg-secondary text-light text-decoration-none py-1 px-3 lead d-flex align-items-center justify-content-between"
      >
        <i class="far fa-sticky-note text-warning"></i>
        <p>&nbsp;&nbsp;Statement Report</p>
      </a>
    </div>

    <div class="acc-box">
      <a
        href=""
        class="acc-box-item bg-secondary text-light text-decoration-none py-1 px-3 lead d-flex align-items-center justify-content-between"
      >
        <i class="fab fa-rocketchat text-warning"></i>
        <p>&nbsp;&nbsp;Chat with us</p>
      </a>
    </div>

    <div class="acc-box">
      <a
        href=""
        class="acc-box-item bg-secondary text-light text-decoration-none py-1 px-3 lead d-flex align-items-center justify-content-between"
      >
        <i class="fas fa-pen-square text-warning"></i>
        <p>&nbsp;&nbsp;Legal</p>
      </a>
    </div>

    <div class="acc-box">
      <a
        href=""
        class="acc-box-item bg-secondary text-light text-decoration-none py-1 px-3 lead d-flex align-items-center justify-content-between"
      >
        <i class="far fa-question-circle text-warning"></i>
        <p>&nbsp;&nbsp;FAQ</p>
      </a>
    </div>

    <div class="acc-box">
      <a
        href=""
        class="acc-box-item bg-secondary text-light text-decoration-none py-1 px-3 lead d-flex align-items-center justify-content-between"
      >
        <i class="fab fa-osi text-warning"></i>
        <p>&nbsp;&nbsp;Invite and earn</p>
      </a>
    </div>

    <div class="acc-box">
      <a
        href=""
        class="acc-box-item bg-secondary text-light text-decoration-none py-1 px-3 lead d-flex align-items-center justify-content-between"
      >
        <i class="fas fa-phone-square text-warning"></i>
        <p>&nbsp;&nbsp;Contact us</p>
      </a>
    </div>
  </div>
</div>

{% endblock content %}
