<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' href="../static/style/customStyle.css"/>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <!-- For dropdown BOOTSTRAP -->
    <!-- Load Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>

    <!-- font awesome -->

    <!-- fontAwesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- @@@@@@@@@@@@@@@@@@@@@@@ -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <!-- Js -->

    <script
      src="{{ url_for('static', filename='javascript/script.js') }}"
      defer
    ></script>

    <title>Wallet</title>

    <link
      rel="icon"
      href="{{ url_for('static', filename='images/logo-normal.png') }}"
    />
  </head>
  <body style="background: rgb(46, 45, 45)">
    {% if current_user.is_authenticated %}

    <!-- Navbar -->
    <nav class="d-flex align-items-center navbar navbar-expand-lg navbar-dark bg-dark py-3" id="navbar">
      <div class="container">
        <a href="{{ url_for('home') }}" class="navbar-brand">
          <img
            src="{{ url_for('static', filename='images/logo-yellow.png') }}"
            alt="company's logo"
            style="width: 2.5rem"
          /><span>&nbsp; EasyTransact</span>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
        <span class="navbar-toggler-ico one"></span>
        <span class="navbar-toggler-ico two"></span>
        <span class="navbar-toggler-ico three"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav m-auto">
            <li class="nav-item">
              <a href="{{ url_for('home') }}" class="nav-link">
                <i class="fas fa-home d-none d-lg-inline"></i>
                Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-money-bill-alt d-none d-lg-inline" style="margin-left: 2rem;"></i>
                Pay</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-credit-card d-none d-lg-inline" style="margin-left: 2rem;"></i>
                Card</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-business-time d-none d-lg-inline" style="margin-left: 2rem;"></i>
                Invest</a>
            </li>

            </ul>
            <!-- drop down -->
            <div class="dropdown mr-auto mt-3" style="margin-left: 1rem;">
              <button class="text-white" style="border: none; background: none;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              >
               <i class="fas fa-user-circle h3"></i>
              </button>
              <div class="dropdown-menu bg-warning" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item text-decoration-none text-dark fw-bold small" href="{{ url_for('account') }}">Profile</a>
                <a class="dropdown-item text-decoration-none text-dark fw-bold small" href="#">Account</a>
                <a class="dropdown-item text-decoration-none text-dark fw-bold small" href="{{ url_for('logout') }}">Logout</a>
              </div>
            </div>
            <!-- ................... -->
        </div>
      </div>
    </nav>


    {% else %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3" id="navbar">
      <div class="container">
        <a href="{{ url_for('front_page') }}" class="navbar-brand">
          <img
            src="{{ url_for('static', filename='images/logo-yellow.png') }}"
            alt="company's logo"
            style="width: 2.5rem"
          /><span>&nbsp; EasyTransact</span>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
        <span class="navbar-toggler-ico one"></span>
        <span class="navbar-toggler-ico two"></span>
        <span class="navbar-toggler-ico three"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item _box">
              <a href="#" class="nav-link">Features</a>
            </li>
            <li class="nav-item _box">
              <a href="#about" class="nav-link">Business</a>
            </li>
            <li class="nav-item _box">
              <a href="#" class="nav-link">Company</a>
            </li>
            <li class="nav-item _box">
              <a href="#" class="nav-link">Help</a>
            </li>
            <li class="nav-item _button">
              <a href="{{ url_for('login') }}" class="nav-link nav-btn"><span>Sign In</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}
    <section class="container">
      {% block content %} {% endblock content %}

      <!-- footer -->
      <hr style="border: 1px solid white; margin-top: 7rem" />
      <footer
        class="d-flex flex-column flex-lg-row justify-content-between mt-5"
      >
        <div class="w-100 py-3">
          <img
            class=""
            src="{{ url_for('static', filename='images/logo-white.png') }}"
            alt=""
            style="width: 4rem; margin-left: 2rem"
          />
        </div>
        <div class="d-flex flex-row w-100">
          <ul class="w-100 text-light" style="list-style: none">
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
          </ul>
          <ul class="w-100 text-light" style="list-style: none">
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
          </ul>
        </div>

        <div class="d-flex flex-row w-100">
          <ul class="w-100 text-light" style="list-style: none">
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
          </ul>

          <ul class="w-100 text-light" style="list-style: none">
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
            <li class="p-2">lorem</li>
          </ul>
        </div>
      </footer>
      <p class="text-light mt-3" style="margin-left: 3rem">
        EasyTransact | copyright &copy; {{ date.year }}
      </p>
    </section>

    <!-- Go to top button -->
    <a href="#" class="position-fixed p-4" style="bottom: 0; right: 0"
      ><i class="far fa-arrow-alt-circle-up text-white h3"></i
    ></a>
    <!-- ............... -->

    <!-- BOOTSTRAP -->

    <!-- Bootsrap popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
