{% extends 'base.html' %}
{% block content %}
<!-- Contact form -->
<section class="container mt-3">

               <!-- Flash messages -->
               {% with messages = get_flashed_messages(with_categories=true) %} {% if
                messages %} {% for category, message in messages %}
                <div
                  class="alert-dismissible fade show mb-4 m-auto small alert alert-{{ category }}"
                  role="alert"
                  style="height: 3.5rem; transition: 0.6s"
                >
                {% if category=='success' %}
                  <p class="small text-center"><i class="fa fas fas fa-check"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
                  {% else %}
                  <p class="small text-center"><i class="fa fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
                  {% endif %}
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
                {% endfor %} {% endif %} {% endwith %}


    <h3 class="text-muted text-center" style="margin: 3rem 0;">SEND US A MESSAGE</h3>
    <div class="d-flex w-100 flex-column-reverse flex-lg-row align-items-lg-center">
        <div class=" d-flex flex-column w-100 py-5 m-auto">
          <!-- my details -->
          
              <div class="d-flex align-items-center ">
                  <i class="far fa-envelope bg-warning rounded-circle p-2 h6"></i>
                  <p class="text-white text fs-5 text-muted" style="margin-left: 1rem;">admin@easytransact.com</p>
              
            </div>
            <div class="d-flex align-items-center mt-3 ">
              <i class="far fas fa-phone bg-warning rounded-circle p-2 h6"></i>
              <p class="text-white text fs-5 text-muted" style="margin-left: 1rem;">+01 xxx xxxx</p>
          </div>
          <div class="d-flex align-items-center mt-3">
              <i class="fas fa-location-arrow bg-warning rounded-circle p-2 h6"></i>
              <p class="text-white text fs-5 text-muted" style="margin-left: 1rem;">21, Salvation Avenue off Lekki toll gate, Victoria Island, Lagos, Nigeria</p>
          </div>
            <hr
              class=""
              style="
                border: 1px solid rgb(251, 255, 0);
                width: 1px;
                height: 10rem;
                position: absolute;
                margin-top: .5rem;
                z-index: -1;
                margin-left: .9rem;
              "
            />

            <div class="mt-4" style="width: fit-content; margin: auto;">
              <a href="" class="p-2" style="width: fit-content;"><i class="fab fa-facebook p-2 text-primary rounded-circle bg-white h5"></i></a>
              <a href="" class="p-2" style="width: fit-content;"><i class="fab fa-whatsapp fw-bold p-2 text-success rounded-circle bg-white h5"></i></a>
              <a href="" class="p-2" style="width: fit-content;"><i class="fab fa-twitter p-2 text-primary rounded-circle bg-white h5"></i></a>
              <a href="" class="p-2" style="width: fit-content;"><i class="fab fa-google p-2 text-danger rounded-circle bg-white h5"></i></a>
            </div>
        </div>
        <div class=" m-auto bg-dark p-5 w-100 py-5">
          <form action="" method="post">
              {{ form.hidden_tag() }}
              <!-- Name Field -->
              <div>
                  {{ form.name.label(class='text-muted text fs-5') }} <br>
                  {{ form.name(class='form-control bg-dark text-light', placeholder='Enter your name', required=False) }}
              </div>
              <!-- Email Field -->
              <div class="mt-3">
                  {{ form.email.label(class='text-muted text fs-5') }} <br>
                  {{ form.email(class='form-control bg-dark text-light', placeholder='Enter your email', required=False) }}
              </div>
              <!-- Message Field -->
              <div class="mt-3">
                  {{ form.message.label(class='text-muted text fs-5') }} <br>
                  <!-- If error -->
                  {{ form.message(class='form-control bg-dark text-light', placeholder='Enter your message', required=False) }}
              </div>
              <!-- Submit Field -->
              <div class="mt-4">{{ form.submit(class='btn btn-success w-100') }}</div>
          </form>
        </div>
    </div>
  </section>

  {% endblock content %}