{% extends 'base.html' %}
{% block content %} 
<div class="mt-5" style="margin: auto; width: 90%;">

     <!-- Flash messages -->
 {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="alert-dismissible fade show mb-4 m-auto small alert alert-{{ category }}"
      role="alert"
      style="height: 3.5rem; transition: 0.6s"
    >
    {% if category=='success' %}
      <p class="small text-center"><i class="fa fas fas fa-check"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
      {% else %}
      <p class="small text-center"><i class="fa fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
      {% endif %}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}


    <div class="d-flex align-items-center">
        <p class="" style="width: fit-content;">
        <img src="{{ url_for('static', filename='images/nigeria.png') }}" class="bg-light rounded-circle py-2" style="width: 4rem;" alt="">
        </p>
        <p class="text-white px-3">
            <small class="text-muted">Nigerian Naira</small><br>
            <span class="h3 balance">
                <del style="text-decoration-style: double;">N</del>
                {{ balance }}</span>
        </p>
    </div>
    <div class="d-flex align-items-center mb-4 mt-2">
        <div class="badge badge-pill text-white bg-accent mx-1"><i class="px-2 py-1 fas fa-square"></i>Spend</div>
        <div class="badge badge-pill text-white bg-accent mx-1"><i class="px-2 py-1 fas fa-dice-d6"></i>Save</div>
        <div class="dropdown mx-1">
            <button class="badge badge-pill text-white bg-accent" style="border: none;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="py-1 fas fa-share"></i>&nbsp; Send Money
            </button>
            <div class="dropdown-menu bg-warning" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item text-decoration-none text-dark fw-bold small" href="{{ url_for('pay') }}">Send to wallet</a>
              <a class="dropdown-item text-decoration-none text-dark fw-bold small" href="#">Send to bank</a>
            </div>
          </div>
        

          
    </div>
    <div class="bg-mild p-3"
    style="background: url(../static/images/atm-white.png);
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: right;
    "
    >
        <p class="text-muted">Your NGN account is all set <br>
        Your account number is <span class="fw-bold text-warning">{{ user.account_number }}</span></p>
    </div>
    <hr style="border: 1px solid wheat;" class="mt-5">
    <div>
      <p class="text-center lead fw-bold text-muted">Recent transaction histories</p>
      {% if not current_user.transacts %}
        <p class="text-center h4 text-warning mt-3">NO RECORDS</p>
        {% else %}

<!-- Table -->

<table class="table">
  <thead class="bg-mild">
    <tr class="text-muted text-center">
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
      <th scope="col">User</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in current_user.transacts[::-1] %}
    {% if transaction.transaction_type == 'CRT' %}
    <tr class="bg-accent text-center text-light">
      <th scope="row">{{ transaction.transaction_type }}</th>
      <td><del style="text-decoration-style: double;">N</del>{{ transaction.transaction_amount }}</td>
      <td>@{{ transaction.sender.lower() }}</td>
      <td>{{ transaction.date_posted.strftime('%Y-%m-%d') }}</td>
    </tr>
    {% else %}
    <tr class="bg-danger text-center text-light">
      <th scope="row">{{ transaction.transaction_type }}</th>
      <td><del style="text-decoration-style: double;">N</del>{{ transaction.transaction_amount }}</td>
      <td>@{{ transaction.sender.lower() }}</td>
      <td>{{ transaction.date_posted.strftime('%Y-%m-%d') }}</td>
    </tr>
    {% endif %}
    {% endfor %}
      </tbody>
</table>
<!-- ..........End of table.............. -->
{% endif %}
</div>
</div>

{% endblock content %}
