{% extends 'base.html' %}
{% block content %}
<div class="d-flex">
<form
  action=""
  method="post"
  class="p-5 mt-5 w-100 bg-dark"
  style="
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  "
>

 <!-- Flash messages -->
 {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="alert-dismissible fade show mb-4 m-auto small alert alert-{{ category }}"
      role="alert"
      style="height: 3.5rem; transition: 0.6s"
    >
    {% if category=='success' %}
      <p class="small text-center"><i class="fa fas fas fa-check"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
      {% else %}
      <p class="small text-center"><i class="fa fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;{{ message }}</p>
      {% endif %}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}


  <p class="text-muted h3">Login to EasyTransact</p>
  <p class="text-muted">To login, please type in the email address linked to your EasyTransact account</p>
  {{ form.hidden_tag() }}

  
  <!-- For Emails validations -->
  {{ form.email.label(class='label text-muted fw-bold mt-4 lead mb-2') }}
  {% if form.email.errors %} {{ form.email(class="form-control p-2",
  required=False, placeholder="Enter email") }} {% for error in
  form.email.errors %}
  <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small>
  {% endfor %} {% else %} {{ form.email(class="form-control p-2",
  required=False, placeholder="Enter email") }} {% endif %}
  <!-- For password validations -->
  {{ form.password.label(class='label text-muted fw-bold mt-4 lead mb-2') }}
  {% if form.password.errors %} {{ form.password(class="form-control p-2
  lead", required=False, placeholder='Enter password') }} {% for error in
  form.password.errors %}
  <small class="text-danger mt-1"><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error }}</small>
  {% endfor %} {% else %} {{ form.password(class="form-control p-2 lead",
  required=False, placeholder='Enter password') }} {% endif %}

  <p style="color: black; margin-top: 1rem" class="text-muted">
    Forgot Password?
    <a
      class="text-warning"
      style="text-decoration: none; font-weight: 500"
      href=""
      >Reset it</a
    >
  </p>

  <!-- For submit button -->
  {{ form.submit(size=20, class='btn btn-success mt-1 w-25 p-1')}}

  <p style="color: black; margin-top: 1rem" class="text-muted  small">
    If you don't have an account, you can register
    <a
      class="text-warning"
      style="text-decoration: none; font-weight: 700"
      href="{{ url_for('register') }}"
      >here</a
    > to get an account in a few minutes
  </p>
</form>

<div style="opacity: 0;" class="d-none d-lg-block">
    <img class="w-50" src="{{ url_for('static', filename='images/globe.png') }}" alt="">
</div>
<img class="w-50 d-none d-lg-block" src="{{ url_for('static', filename='images/globe.png') }}" alt=""
style="position: fixed;
right: 0;
z-index: -1;
margin-right: 5rem;
filter: opacity(60%);
"
>
</div>
{% endblock content %}