{% extends 'base.html' %} {% block content %}

<div class="d-flex flex-column justify-content-center align-items-center mt-5">
  <div>
    <span class="text-muted h3">Send Money </span
    ><small class="badge badge-pill bg-success py-2 px-4">To wallet</small>
  </div>
  <div class="col-10 col-xs-10 col-sm-10 col-md-6">
    <!-- wallet sendimg money form-->
    <form
      action=""
      method="post"
      class="p-5 mt-5 w-100 bg-dark"
      style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px"
    >
      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert-dismissible fade show mb-4 m-auto small alert alert-{{ category }}"
        role="alert"
        style="height: 3.5rem; transition: 0.6s"
      >
        {% if category=='success' %}
        <p class="small text-center">
          <i class="fa fas fas fa-check"></i>&nbsp;&nbsp;&nbsp;{{ message }}
        </p>
        {% else %}
        <p class="small text-center">
          <i class="fa fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;{{
          message }}
        </p>
        {% endif %}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}

      <div
        class="bg-light d-flex mb-3 rounded"
        style="width: fit-content; margin: auto"
      >
        <img
          src="{{ url_for('static', filename='images/logo-normal.png') }}"
          class="p-2"
          style="width: 4.5rem; margin: auto"
          alt=""
        />
      </div>
      {{ form.hidden_tag() }}

      <!-- For Username validations -->
      {{ form.account_number.label(class='label text-muted fw-bold mt-4 lead mb-2') }}
      {% if form.account_number.errors %} {{ form.account_number(class="form-control p-2",
      required=False, placeholder="Enter account Number") }} {% for error in
      form.account_number.errors %}
      <small class="text-danger mt-1"
        ><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error
        }}</small
      >
      {% endfor %} {% else %} {{ form.account_number(class="form-control p-2",
      required=False, placeholder="Enter account Number") }} {% endif %}

      <!-- For Amount validations -->
      {{ form.amount.label(class='label text-muted fw-bold mt-4 lead mb-2') }}
      {% if form.amount.errors %} {{ form.amount(class="form-control p-2 lead",
      required=False, placeholder='Enter amount') }} {% for error in
      form.amount.errors %}
      <small class="text-danger mt-1"
        ><i class="fa fas fa-exclamation-circle"></i>&nbsp;&nbsp;{{ error
        }}</small
      >
      {% endfor %} {% else %} {{ form.amount(class="form-control p-2 lead",
      required=False, placeholder='Enter amount') }} {% endif %}

      <!-- For submit button -->
      {{ form.submit(size=20, class='btn btn-success mt-4 w-25 p-1')}}
    </form>
  </div>
</div>
{% endblock content %}
